<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <UploadImgUrl>localhost</UploadImgUrl>
  <UploadImgPath>/Upload/</UploadImgPath>
  <OpenMonitor>true</OpenMonitor>
  <OpenCacheServer>false</OpenCacheServer>
  <WeixinAppId>wx8b62bc62744c2782</WeixinAppId>
  <WeixinAppSecret>e7810d1c0a73b97ef73074edf1fbe307</WeixinAppSecret>
  <WeixinToken>8B5AADD5A0AFD888</WeixinToken>
  <WeixinPartnerID>1366239602</WeixinPartnerID>
  <WeixinPartnerKey>wuhanyilekejiyouxiangongsi888888</WeixinPartnerKey>
  <WeixinCertPath>D:\Project\WebSite_Company\APITaotaoleWx\WxPay\cert\apiclient_cert.p12</WeixinCertPath>
  <WeixinCertPassword>1366239602</WeixinCertPassword>
  <WeixinPaySignKey></WeixinPaySignKey>
  <IsOpenWeixin>false</IsOpenWeixin>
  <IsOpenManyService>false</IsOpenManyService>
  <WebSiteName>爽乐购</WebSiteName>
  <G_UPLOAD_PATH>http://localhost:5411/Resources/uploads/</G_UPLOAD_PATH>
  <!--<G_UPLOAD_PATH>http://tplatform.ewaywin.com/Resources/uploads/</G_UPLOAD_PATH>-->
  <API_Domain>http://localhost:4944/</API_Domain>
  <!--<API_Domain>http://tapi.ewaywin.com/</API_Domain>-->
  <WX_Domain>http://twx.ewaywin.com/</WX_Domain>
  <TaotaolePlatformKey>taotaole888AppSn</TaotaolePlatformKey>
  <TaotaoleWxKey>taotaole888</TaotaoleWxKey>
  <!--开奖倒计时(秒)-->
  <Q_end_time_second>30</Q_end_time_second>
  <!--中奖结果通知-->
  <WX_Template_01>b1_ARggaBzbc5owqmwrZ15QPj9Ksfs0p5i64C6MzXKw</WX_Template_01>
  <!--物流状态更新通知-->
  <WX_Template_02>INRGe6p5FWJkcxl0KuJnHY33iFfGf_HAYKaxUzFjLNY</WX_Template_02>
  <!--团购失败退款通知-->
  <WX_Template_03>s4EZ4t2PCGozcDZa9kHhOs4TqUMf4_9wiQLSrnlRIM4</WX_Template_03>
  <WX_Template_00>uid</WX_Template_00>
  <!--永乐唯一ID-->
  <Yolly_ID>65548187</Yolly_ID>
  <!--永乐唯一KEY-->
  <Yolly_KEY>D39316FEC4984ABE97ED554D749EBE86</Yolly_KEY>
  <!--不为空时，开启公用支付服务域名-->
  <Pay_Domain>pay.ewaywin.com</Pay_Domain>
  <Pay_WeixinAppId>wx8b62bc62744c2782</Pay_WeixinAppId>
  <Pay_WeixinAppSecret>e7810d1c0a73b97ef73074edf1fbe307</Pay_WeixinAppSecret>
  <ZengSet>10</ZengSet>
  <AgentSet>10</AgentSet>
  <GiftSet>10</GiftSet>
  <ObligateSet>10</ObligateSet>
</Settings>