
*{margin:0;padding:0;}
html{background:#F0EFED;}
body{font-size: 12px;font-family: arial, 微软雅黑 ;max-width:640px; margin:0 auto;padding:0;}
ul{padding:0;margin:0;list-style:none;}
a{color: #000;text-decoration: none;outline: medium none;}
img{border: 0;}
.h20{ height:20px; background:none; }
.h30{ height:30px; background:none; }
.h50{ height:50px; background:none; }
.head_zhuanti{height:46px;width: 100%;z-index: 99;background: #eb3c46;overflow:hidden;position:relative;}
.head_zhuanti h2{text-align: center;color: #fff;line-height: 46px;font-size: 20px;font-weight: normal;}
.head_zhuanti .close{display: block;height: 46px;line-height:46px;overflow: hidden;position: absolute;left: 0;top: 0;z-index:10;font-size:14px;color:#FFF;padding:0 10px;}
.head_zhuanti .share{height: 46px;line-height:46px;display: block;position: absolute;right: 0;top: 0;color:#FFF;padding:0 10px;font-size:14px;}
.head_zhuanti .share:before{content:"";display:inline-block;vertical-align:middle;width:25px;height: 46px;background: url(/images/icon-share.png) left center no-repeat;background-size: 22px;}
.zhuantibody{max-width:640px;margin:0 auto;padding:0;}
.Picbox{max-width:640px;margin:0 auto;padding:0;height:auto;}
.Picbox img{width:100%;display:block;border:0;padding:0;margin:0;}

/*20变118*/
#bian118-html {
    background:#FACD89;
}

#wuzhe-html {
    background:#FEF0DE;
}

#miji-html {
    background:#FCEFDC;
}

/*玩转爽乐购*/
#wanzhuan-html {
    background:#FCEFDC;
}
#wanzhuan-html  .zhuantibody {
    background:#FFF;
}

.pintuanbody {
    background:#FFF;
}

.baokuan_btnbox {
}
.baokuan_btnbox .btn-canyued,
.baokuan_btnbox .btn-nozige{ display:none;
}

/*0元购*/
.onelink {
    display:block; text-align:center;
}

.onelink img {
    display:inline-block;
    width:50%;
    margin:2%;
}

.doublelink {
    clear:both; overflow:hidden;
}
.doublelink a{
    display:block;
    width:50%;
    float:left;
}
.doublelink a img{
    display:block;
    width:90%;
    margin:5%;
}

/*五折狂欢*/
.wuzhebody {
    background:#FEF0DE;
}


/*各种弹出层*/

/* PopupBg */
.PopupBg{ background: rgba(0,0,0,.7); width: 100%; height: 100%;position: fixed;top: 0;left: 0;z-index: 9000; display:none; }
.PopupLayer{ background: #FFF;color: #333333; width: 80%;position: fixed; top:0; left:0;  margin: auto;border:1px solid #F0F1F1;border-radius:10px; z-index: 9001;display:none;}
.PopupLayer h1{ text-align:center; height:50px; line-height:50px; border-bottom:1px solid #F0F1F1; font-size:16px; }
.PopupLayer .po-nrbox{padding: 30px 30px 0 30px;text-align:center;}
.PopupLayer .TwobtnBox {
    border-top: 1px solid #EDEEEF;
    margin-top: 30px;
}
.PopupLayer .TwobtnBox a{width:50%;text-align:center;height:44px;line-height:44px;/* border:1px solid #EDEEEF; */font-size:18px;background:#FFF;display:block;float: left;border-radius: 0 0 5px 0;}
.PopupLayer .TwobtnBox a.Cancelbtn {
    border-left: 1px solid #CCC;
    margin-left: -1px;
    border-radius: 0 0 0 5px;
}
.PopupLayer .TwobtnBox a.Surebtn {
    background: #5FD664;
    color: #FFF;
}
.PopupLayer .OnebtnBox .btn{width:80%;text-align:center;height:44px;line-height:44px; font-size:18px;background:#F2F2F2;
                            border:1px solid #CCC;
                            display:block; border-radius: 5px; margin:30px auto;}
.PopupLayer .po-nrbox h2 {
    padding: 15px 0 0 0;
    font-size: 20px;
}
#InfoPopup .po-nrbox h2{padding:0;font-size: 16px;line-height: 30px;}
.PopupLayer .po-nrbox p {
    color: #FD524E;
    font-size: 14px;
}
.PopupLayer .textBox {
    position:relative;
    padding: 0 30px;
    margin-top: 10px;
}
.PopupLayer .textBox input {
    width:100%;
    font-size:16px;
    padding: 15px 0;
    text-indent: 90px;
    background:#FFF;
    border:0;
    border-bottom:1px solid #CCC;
}
.PopupLayer .textBox span{position:absolute;top:0;left: 30px;font-size:16px;padding: 15px 0; color:#666; }
.PopupLayer .textBox2 span{ width:100px; text-align:right; }
.PopupLayer .textBox2 input{text-indent: 110px;}

/* 公共弹出层提示 */
#InfoPopupBg{ z-index:999999999999; }
#InfoPopup{ z-index:999999999999; }
#InfoPopup h1{ font-size:16px;}
#InfoPopup .po-nrbox{ font-size:16px;}


/* 关注二维码弹出层 */
.GuanzhuPopup{ background: rgba(0,0,0,.7); width: 100%; height: 100%;position: fixed;top: 0;left: 0;z-index: 90000; display:none; }
.GuanzhuPopup .Poplayer{width: 100%; height: 100%;  position:relative; }
.GuanzhuPopup .fixedbox{
	position: fixed;
    width:70%;
    padding:0 5%;
    background: #FFF;
    margin:0 auto;
	top: 50%;
    right: 0;
    left: 0;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    text-align:center;
    border-radius:5px;
}
.GuanzhuPopup  h1{ font-size: 18px;  font-weight: normal;  color: #373941; height: 50px;   
                      line-height: 50px;    
    text-align: center;
    border-bottom: 1px solid #E2E2E1;}

.GuanzhuPopup .ewmbox{
    padding:20px 20px 15px 20px;
}
.GuanzhuPopup .ewmbox img {
    width:100%;
}
.GuanzhuPopup p{
    color:#666;
    line-height:26px;
    padding-bottom:20px;
}

/*拼团*/
#pintuanHtml {
    background:#FFF;
}